http_proxy=${http_proxy}
https_proxy=${https_proxy}
no_proxy=${no_proxy}
TZ=America/Montreal

DEFAULT_NETWORK=dokploy-network

## Dokploy projects environment variables
APP=tpl
APPDATA_DIR=/appdata/${APP}
CONFIG_DIR=/infra/${APP}

## TPL
TPL_HOST_DOMAIN=tpl.example.com
TPL_HOST_URI=/tpl
TPL_HOST_PROTOCOL=http
TPL_DATA_DIR=${APPDATA_DIR}/data

## Homepage
TPL_HOMEPAGE_GROUP=Templates
TPL_HOMEPAGE_NAME=TPL
TPL_HOMEPAGE_ICON=tpl.png
TPL_HOMEPAGE_HREF=${TPL_HOST_PROTOCOL}://${TPL_HOST_DOMAIN}${TPL_HOST_URI}/


