http_proxy=${http_proxy}
https_proxy=${https_proxy}
no_proxy=${no_proxy}
TZ=America/Montreal

DEFAULT_NETWORK=dokploy-network

## Dokploy projects environment variables
APP=rustfs
APPDATA_DIR=/appdata/${APP}
CONFIG_DIR=/infra/${APP}

## RustFS
# RUSTFS_DOMAIN=rustfs.example.com
RUSTFS_ACCESS_KEY=rustfs
RUSTFS_SECRET_KEY=rustfs1234
RUSTFS_S3_DOMAIN=rustfs.example.com
RUSTFS_DATA_DIR=${APPDATA_DIR}/data

## Homepage
RUSTFS_HOMEPAGE_GROUP=Storage
RUSTFS_HOMEPAGE_NAME=RustFS
RUSTFS_HOMEPAGE_ICON=rustfs.png
RUSTFS_HOMEPAGE_HREF=http://${RUSTFS_S3_DOMAIN}/rustfs

