## REGISTRY
REGISTRY_TRAEFIK_SWARM_LABELS_ENABLED=false
REGISTRY_TRAEFIK_DOCKER_LABELS_ENABLED=true
# Signing key for uploads (Swarm): openssl rand -base64 32
REGISTRY_HTTP_SECRET=
# htpasswd file on host (Compose file secret, or source for `docker secret create`)
REGISTRY_PASSWORD_FILE_PATH=./registry-auth-htpasswd
REGISTRY_PASSWORD_SECRET_NAME=registry-auth-htpasswd
REGISTRY_PASSWORD_SECRET_EXTERNAL=false
REGISTRY_AUTH_HTPASSWD_PATH=/run/secrets/registry-auth-htpasswd
REGISTRY_DATA_DIR=
#
REGISTRY_IMAGE=
REGISTRY_PULL_POLICY=
REGISTRY_RESTART=
REGISTRY_PRIVILEGED=
REGISTRY_DOMAIN=registry.example.com
REGISTRY_PORT_PUBLISHED=5000
REGISTRY_PLACEMENT_CONSTRAINTS=
REGISTRY_STORAGE_DELETE_ENABLED=true
REGISTRY_HEALTH_STORAGEDRIVER_ENABLED=true
REGISTRY_TRAEFIK_ENTRYPOINTS=web
REGISTRY_TRAEFIK_MIDDLEWARES=
REGISTRY_TRAEFIK_TLS_ENABLED=false
REGISTRY_TRAEFIK_TLS_CERTRESOLVER=letsencrypt
REGISTRY_HOMEPAGE_GROUP=
REGISTRY_HOMEPAGE_NAME=Registry
REGISTRY_HOMEPAGE_ICON=registry.png
REGISTRY_HOMEPAGE_HREF=http://registry.example.com
REGISTRY_HOMEPAGE_SITEMONITOR=
REGISTRY_HOMEPAGE_PING=
