http_proxy=${{project.http_proxy}}
https_proxy=${{project.https_proxy}}
no_proxy=${{project.no_proxy}}
TZ=America/Montreal

DEFAULT_NETWORK=${{project.DEFAULT_NETWORK}}

## Dokploy projects environment variables
APP=tpl
APPDATA_DIR=${{project.APPDATA_DIR}}/${APP}
CONFIG_DIR=${{project.CONFIG_DIR}}/${APP}

