HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=
TZ=America/Montreal
DEFAULT_NETWORK_NAME=
DEFAULT_NETWORK_EXTERNAL=

## S3-CLIENT
S3_CLIENT_DATA_VOLUME_NAME=
S3_CLIENT_DATA_VOLUME_EXTERNAL=
S3_CLIENT_CONFIG_VOLUME_NAME=
S3_CLIENT_CONFIG_VOLUME_EXTERNAL=
S3_CLIENT_IMAGE=
S3_CLIENT_DATA_DIR=${APPDATA_DIR}/s3-client/data
S3_CLIENT_LOGS_DIR=${APPDATA_DIR}/s3-client/logs
S3_CLIENT_HOMEPAGE_GROUP=
S3_CLIENT_HOMEPAGE_NAME=s3-client
S3_CLIENT_HOMEPAGE_ICON=s3.png
S3_CLIENT_HOMEPAGE_DESCRIPTION=
S3_CLIENT_PULL_POLICY=
S3_CLIENT_RESTART=
S3_CLIENT_PRIVILEGED=
S3_CLIENT_PLACEMENT_CONSTRAINTS=
