TZ=America/Montreal

# ## SMTP Relay
SMTP_RELAY_IMAGE=
SMTP_RELAY_PULL_POLICY=
SMTP_RELAY_RESTART=
SMTP_RELAY_PRIVILEGED=
SMTP_RELAY_REPLICAS=1
SMTP_RELAY_SWARM_MODE=
SMTP_RELAY_MEMORY_LIMIT=
SMTP_RELAY_PLACEMENT_CONSTRAINTS=
SMTP_RELAY_PORT_TARGET=
SMTP_RELAY_PORT_PUBLISHED=
SMTP_RELAY_PORT_PROTOCOL=
SMTP_RELAY_PORT_MODE=
#
SMTP_RELAY_MAILNAME=smtp.example.com
SMTP_RELAY_NETWORKS=:192.168.31.0/16:10.16.0.0/8:172.16.0.0/16
# Smarthost (Workspace, custom): set HOST (+ PORT, USER, PASS, ALIASES)
SMTP_RELAY_HOST=
SMTP_RELAY_PORT=
SMTP_RELAY_USER=
SMTP_RELAY_PASS=
SMTP_RELAY_ALIASES=
