http_proxy=${http_proxy}
https_proxy=${https_proxy}
no_proxy=${no_proxy}
TZ=America/Montreal

DEFAULT_NETWORK=dokploy-network

## Dokploy projects environment variables
APP=siem
APPDATA_DIR=/appdata/${APP}
CONFIG_DIR=/infra/${APP}

## SIEM
SIEM_HOST_DOMAIN=siem.example.com
SIEM_HOST_URI=/siem
SIEM_HOST_PROTOCOL=http
SIEM_DATA_DIR=${APPDATA_DIR}/data

## Homepage
SIEM_ES_HOMEPAGE_GROUP=SIEM
SIEM_KB_HOMEPAGE_GROUP=SIEM

## Elasticsearch
SIEM_ES_VERSION=8.19.14
SIEM_ES_PREFIX=/elasticsearch
SIEM_ES_DATA_DIR=${APPDATA_DIR}/elasticsearch
SIEM_ES_MEM_LIMIT=1024m
SIEM_ES_CERTS_DIR=${APPDATA_DIR}/certs
