http_proxy=${http_proxy}
https_proxy=${https_proxy}
no_proxy=${no_proxy}
TZ=America/Montreal

## Dokploy projects environment variables
APPDATA_DIR=${{project.APPDATA_DIR}}/app_name
CONFIG_DIR=${{project.CONFIG_DIR}}/app_name

## RustFS
RUSTFS_VOLUMES=/data
RUSTFS_ADDRESS=0.0.0.0:9000
RUSTFS_ACCESS_KEY=admin
RUSTFS_SECRET_KEY=admin
RUSTFS_CONSOLE_ENABLE=true
RUSTFS_CONSOLE_ADDRESS=0.0.0.0:9001
RUSTFS_S3_DOMAIN=rustfs.example.com
RUSTFS_DATA_DIR=/appdata/rustfs/data

## S3 Client
MINIO_SERVER_HOST=rustfs
MINIO_SERVER_ACCESS_KEY=LihovcECy7at9kPVXepZ
MINIO_SERVER_SECRET_KEY=3QDhC56vIBqTK1NyL2r4ib09laoGwdk8AOYRSEgX
MINIO_CLIENT_DATA_DIR=/downloads

## Homepage
HOMEPAGE_DOMAIN=homepage.example.com
HOMEPAGE_CONFIG_DIR=/appdata/homepage/config
