http_proxy=${http_proxy}
https_proxy=${https_proxy}
no_proxy=${no_proxy}
TZ=America/Montreal
DEFAULT_NETWORK=dokploy-network
DOCKER_RUNTIME_SOCKET=/var/run/docker.sock

## HOMEPAGE
HOMEPAGE_HOST_DOMAIN=homepage.example.com
HOMEPAGE_HOST_URI=/
HOMEPAGE_HOST_PROTOCOL=http
HOMEPAGE_DATA_DIR=${APPDATA_DIR}/data
HOMEPAGE_ALLOWED_HOSTS=homepage.example.com

