http_proxy=${http_proxy}
https_proxy=${https_proxy}
no_proxy=${no_proxy}
TZ=America/Montreal

DEFAULT_NETWORK=dokploy-network

## Dokploy projects environment variables
APPDATA_DIR=/appdata/adguard/data
CONFIG_DIR=/infra/adguard

## AdGuard
ADGUARD_DOMAIN=adguard.example.com
ADGUARD_CERTIFICATE_RESOLVER=default
ADGUARD_CONFIG_DIR=/infra/config
ADGUARD_WORK_DIR=/appdata/adguard/work

## Homepage
ADGUARD_HOMEPAGE_GROUP=Dashboard
ADGUARD_HOMEPAGE_NAME=AdGuard
ADGUARD_HOMEPAGE_ICON=adguard.png
ADGUARD_HOMEPAGE_HREF=http://adguard.example.com/
