http_proxy=
https_proxy=
no_proxy=
TZ=America/Montreal
DEFAULT_NETWORK=dokploy-network

## MINIO-CLIENT
MINIO_CLIENT_DATA_DIR=${APPDATA_DIR}/minio-client/data
MINIO_CLIENT_LOGS_DIR=${APPDATA_DIR}/minio-client/logs
MINIO_CLIENT_HOMEPAGE_GROUP=
MINIO_CLIENT_HOMEPAGE_NAME=minio-client
MINIO_CLIENT_HOMEPAGE_ICON=minio.png
MINIO_CLIENT_HOMEPAGE_DESCRIPTION=Minio Client is a platform for cli tool for s3 management.
