http_proxy=
https_proxy=
no_proxy=
TZ=America/Montreal
DEFAULT_NETWORK=dokploy-network

## BYTESTASH
BYTESTASH_DOMAIN=example.com
BYTESTASH_BASE_PATH=/bytestash
BYTESTASH_MOUNT_DATA=${APPDATA_DIR}/bytestash/data
BYTESTASH_TRAEFIK_ENTRYPOINTS=web
BYTESTASH_TRAEFIK_MIDDLEWARES=
BYTESTASH_TRAEFIK_TLS_ENABLED=false
BYTESTASH_TRAEFIK_TLS_CERTRESOLVER=letsencrypt
BYTESTASH_HOMEPAGE_GROUP=
BYTESTASH_HOMEPAGE_NAME=ByteStash
BYTESTASH_HOMEPAGE_ICON=bytestash.png
BYTESTASH_HOMEPAGE_HREF=http://example.com/bytestash
BYTESTASH_HOMEPAGE_SITEMONITOR=${BYTESTASH_HOMEPAGE_HREF}
BYTESTASH_HOMEPAGE_PING=
BYTESTASH_JWT_SECRET=your-secret
BYTESTASH_TOKEN_EXPIRY=24h
BYTESTASH_ALLOW_NEW_ACCOUNTS=true
BYTESTASH_DEBUG=false
BYTESTASH_DISABLE_ACCOUNTS=false
BYTESTASH_DISABLE_INTERNAL_ACCOUNTS=false
BYTESTASH_OIDC_ENABLED=false
BYTESTASH_OIDC_DISPLAY_NAME=
BYTESTASH_OIDC_ISSUER_URL=
BYTESTASH_OIDC_CLIENT_ID=
BYTESTASH_OIDC_CLIENT_SECRET=
BYTESTASH_OIDC_SCOPES=
BYTESTASH_PLACEMENT_CONSTRAINTS=
