USER_UID=501
USER_GID=100
USER_NAME=jenkins
JENKINS_URL=https://jenkins.devel-cen.net/jenkins/
JENKINS_AGENT_NAME=jenkins-agent
JENKINS_SECRET=29634e27a40f5419d8203f2d42f72932baa848c8646e2f4bd67086988774a558
JENKINS_AGENT_WORKDIR=/jenkins-workspace
JENKINS_WEB_SOCKET=true
CONTAINER_HOST="unix:///var/run/docker.sock"


